/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    color: #343a40; /* Dark text color */
    line-height: 1.2;
}

#name{
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}

#job{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
#email{
    text-align: center;
    margin-top: 20px;
}
#about_head{
    text-align: center;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;

}
.right-side {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
}


.right-side a i {
    font-size: 40px;
    padding: 15px;
    text-align: center;
    align-items: center;
}

#about_head::after {
    content: "";
    position: absolute;
    left: 20px; /* Exclude 20px from the left */
    right: 20px; /* Exclude 20px from the right */
    bottom: 0;
    width: calc(100% - 40px); /* Calculate the width excluding left and right padding */
    border-bottom: 1px dashed #000; /* 1px dashed border with black color */
}

.image-container {
    position: relative;
    width: 300px; /* Example width */
    height: 300px; /* Example height */
    border-radius: 50%; /* Make the container circular */
    overflow: hidden; /* Hide overflow content (image corners) */
    margin: 0 auto; /* Center the container horizontally */
    justify-content: center; /* Align image horizontally at the center */
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container img {
    display: flex;
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Maintain aspect ratio and cover container */
}

.image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Example text color */
}
.skill ul {
    list-style-type: disc; /* Bullet point style */
    margin-left: 100px;
}

.skill li {
    margin-bottom: 10px; /* Spacing between list items */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
}

.text{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}






