.page__content h1 {
  margin-bottom: 1rem;
}

.page__content p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.page__content ul {
  padding-left: 1.2rem;
  margin-bottom: 2rem;
}

.page__content ul li {
  margin-bottom: 0.8rem;
  line-height: 1.6;
}
/* Widen about page only */
.page.about .page__content {
  max-width: 1000px;
  width: 90%;
}